/* RESET */
*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}

/* COMMONS */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #636363;
}
.container{
    width: 100%;
    height: 100vh;

}
.col{
    float: left;
}
.clearfix::after{
    clear: both;
    content: "";
    display: table;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.container-flex{
    display: flex;
}
.color-white{
    color:white
}
.color-grey{
    color: #636363;
}
li{
    list-style-type: none;
}
/* titoli col player */
.title-col-player{
    padding:30px 0 20px 0;
}
/* titoli col player */
.title-col-player-small{
    padding:30px 0 10px 0;
}
/* hover */
.col-aside a:hover,
.col-aside span:hover,
.add-playlist:hover{
    color: white;
}
.menu a:hover{
    color: white;
}
.add-playlist i:hover{
    background-color: white;
}

/* END COMMONS */

/* MAIN */

main{
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
    align-content: flex-end;
}
.first-part-main{
    width: calc(100% - 250px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}
/* logo */
#logo-big{
    width: 170px;
    height: 80px;
}
#logo-small{
    width: 30px;
    height: 80px;
    display: none;
}

/* button first part main*/
.button > a{
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 15px;
    color: white;
    display: inline-block;
}
/* hover button */
.button:hover{
    transform: scale(1.1);
}


/* col-aside */
.col-aside{
    width: 250px;
    height: calc(100% );
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    flex-direction: column;
}

/* navigator */
.col-aside a {
    color:#636363;
    font-size: 12px;
}
.navigator img{
    width: 25px;
    vertical-align: middle;
}
.navigator li{
    margin-bottom: 10px;

}
/* hover border green */
.navigator li:active{
    border-left: 3px solid greenyellow;
    padding-left: 20px;
    margin-left:-20px;
}
.navigator{
    padding-top: 20px;
}

/* playlist */
.new-playlist{
    flex-direction: column;
    flex-grow: 1;
}
.fa-plus{
    padding: 8px;
    background-color: #636363;
    font-size: 20px;
    margin-top: 10px;
    color: black;
}
.new-playlist li{
    padding-bottom: 15px;
}
/* overflow y alla ul */
.name-playlist{
    overflow-y: auto;
    height: 70%;
    padding-top:10px
}
#title-playlist{
    padding-top: 12px;
}

/* final part aside */

.final-part-aside{
    flex-direction: column;
}
.account{
    align-items: center;
    flex-direction: row
}
.hr{
    width: 100%;
    height: 1px;
    background-color:#636363;
    margin: 7px 0;
}
.profile{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:#636363;
    overflow: hidden;
    text-align: center;
    margin-right: 5px;
}
.dowload > img{
    width: 15px;
    margin-right: 5px;
}
/* MEDIAQUERI ASIDE*/
@media screen and (max-width: 600px){
/* button first part main*/
    .first-part-main{
        width: calc(100% - 200px);
    }
    .button > a{
        padding: 8px 33px;
        font-size: 12px;
    } 
    /* col-aside */
    .col-aside{
        width: 200px;
    }
    .add-playlist{
        font-size: 15px;
    }
}
@media screen and (max-width: 536px){
    /* button first part main*/
    .first-part-main{
        width: calc(100% - 50px);
    }
    /* col-aside*/
    .col-aside{
        width: 50px;
    }
    /* logo */
    #logo-big{
    display: none;
    }
    #logo-small{
    display: inline-block;
    }
    /* col-aside */
    .col-aside{
        padding: 0;
        text-align: center;
    }
    /* navigator */
    .col-aside a {
        display: none;
    }
    .col-aside i {
        display: none;
    }
    .col-aside strong {
        display: none;
    }
    .col-aside span {
        display: none;
    }
    .name-playlist{
        display: none;
    }
    /* final part-aside */
    .hr{
        background-color: black;
    }
    .final-part-aside{
        align-items: center;
        margin-bottom: 5px;
    }
}

/* col player */

/* colonna */
.col-player{
    width: calc(100% - 250px);
    height: calc(100%);
    background-color: #131923;
    padding: 95px 15px 30px 15px;
    overflow-y: auto;
}
.menu a{
    color: #636363;
    margin: 0px 10px;
    font-size: 15px;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu > ul{
    flex-wrap: wrap;
    justify-content: center;
}
/* bordo verde hover nel menù */
.hr-green-hover{
    background-color: greenyellow;
    height: 3px;
    width: 50px;
    display: none;
}
.menu li:active .hr-green-hover{
    display: block;
}

.menu li{
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
}

/* music items */
.music-item{
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
/* colore e h3 dentro menù */
.music-item h3{
    color:white;
    padding: 10px 0;
    font-size: 15px;
}
/* single miusic item */
.single-item-music{
    width: calc((100% / 6) - 15px);
    align-items: center;
    flex-direction: column;
    margin-right: 15px;
    text-align: center;
}
/* per eliminare l'overflow dell'overlay */
.single-item-music img{
    display: block;
}
.description-title{
    padding-bottom: 25px;
    font-size: 12px;
}
/* overlay */
.overlay-music-item:hover .overlay{
    display: inline-block;
}
.overlay-music-item{
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    font-size:35px;
    display: none;
}
.overlay i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.singers{
    font-size: 12px;
}
/* artist items */
.artist-items img{
    display: inline-block;
    border-radius: 50%;
}
/* MEDIAQUERI MAIN*/
@media screen and (max-width: 950px){
    /* music items */
    .music-item h3{
        font-size: 12px;
    }
}
@media screen and (max-width: 700px){
    /* menu */
    .menu a{
        font-size: 12px;
    }
    /* music items */
    .single-item-music{
        width: calc((100% / 4) - 15px);
        margin-bottom: 5px;
    }
    .music-item h3{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px){
    /* col player */
    .col-player{
        width: calc(100% - 200px);
    }
    /* music items */
    .single-item-music{
        width: calc((100% / 2) - 15px);
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 536px){
    /* col player */
    .col-player{
        width: calc(100% - 50px);
    }
}

/* END MAIN */

/* FOOTER */
footer{
    width: 100%;
    height: 80px;
    background-color: #282828;
}
.container-footer{
    width: 98%;
    height: 100%;
    margin: auto;
}

.col-footer{
    width: 25%;
    height: 100%;
    align-items: center;
}
/* col left */
#heart-footer{
    padding-right: 10px;
}
.music-playback {
    width: 20%;
}
.song-being-played{
    align-items: center;
}
#miusic-name{
    padding: 0 10px;
    font-size: 10px;
}
.title-music{
    font-size:15px;
}
/* col middle */
.col-footer-middle{
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
}
.music-buttons{
    align-items: center;
}
.col-footer-middle li{
    margin: 0 10px;
    font-size: 17px;
}
#button-play{
    font-size: 30px;
    align-content: center;
}
.hr-footer{
    width: 400px;
    height: 5px;
    background-color:#5a5a5a;
    margin: 0 20px;
    border-radius: 150px;
    overflow:hidden;
}
.hr-time{
    background-color:#c0c0c0;
    height: 100%;
    width: 25%;
    overflow:hidden;
}
.music-time{
    align-items: center;
    padding: 10px 0;
    width: 50%;
}
.time{
    font-size: 10px;
}
/* col right */

.vol{
    width: 100%;
    margin-right: 0;
    max-width: 150px;
}
.col-footer-right{
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.col-footer-right li{
    padding-left: 7px;
}
/* media-query footer */

@media screen and (max-width: 700px){
    /* dimensione immagine della musica in riproduzione nel footer*/
    .music-playback {
        width: 25%;
    }
}
/* END FOOTER */