/* RESET */
*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}

/* COMMONS */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #636363;
}
.container{
    width: 100%;
    height: 100vh;

    /* test */
    background-color: sandybrown;
}
.col{
    float: left;
}
.clearfix::after{
    clear: both;
    content: "";
    display: table;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.container-flex{
    display: flex;
}
.color-white{
    color:white
}
.color-grey{
    color: #636363;
}
li{
    list-style-type: none;
}
main{
    align-content: flex-end;
}
/* titoli col player */
.title-col-player{
    padding:30px 0 20px 0;
}
/* END COMMONS */

/* MAIN */

main{
    width: 100%;
    height: calc(100% - 80px);
}
.first-part-main{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
/* logo */
.logo-big{
    color: white;
    top: 0;
    left: 0;
    width: 160px;
    margin-left:10px;
}
/* button first part main*/
.button > a{
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 40px;
    font-size: 15px;
    color: white;
}


/* col-aside */
.col-aside{
    width: 250px;
    height: calc(100% );
    background-color: black;
    padding-top: 88px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 7px;
    overflow: hidden;
    flex-direction: column;

}

/* navigator */
.col-aside a {
    color:#636363;
    font-size: 12px;
}
.col-aside img{
    width: 25px;
    vertical-align: middle;
}
.navigator li{
    padding-bottom: 10px;
}

/* playlist */
.new-playlist{
    flex-direction: column;
    flex-grow: 1;
}
.fa-plus{
    padding: 8px;
    background-color: #636363;
    font-size: 20px;
    margin-top: 10px;
    color: black;
}
.new-playlist li{
    padding-bottom: 15px;
    overflow-y: auto;
    width: 80%;
}
#title-playlist{
    padding-top: 12px;
}

/* final part aside */


.account{
    align-items: center;
}
.hr{
    width: 100%;
    height: 1px;
    background-color:#636363;
    margin: 7px 0;
}
.profile{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color:#636363;
    overflow: hidden;
    text-align: center;
    margin-right: 5px;
}

/* col player */

/* colonna */
.col-player{
    width: calc(100% - 250px);
    height: calc(100%);
    background-color: #131923;
    padding: 95px 15px 30px 15px;
    overflow-y: auto;
}
.menu a{
    color: #636363;
    margin-right: 20px;
    font-size: 15px;
    display: inline-block;
}
.menu li{
    display: inline-block;
}
.menu{
    display: flex;
    justify-content: center;
}
/* colore titoli h2 e h3 dentro menù */
.music-item h3{
    color:white;
    padding: 8px 0 8px 0;
}
/* single miusic item */
.single-item-music{
    width: calc((100% / 6) - 50px);
    align-items: center;
    flex-direction: column;
}





/* END MAIN */

/* FOOTER */
footer{
    width: 100%;
    height: 80px;
    background-color: #282828;
}


/* END FOOTER */